include/__config        text diff=cpp
include/__declval       text diff=cpp
include/__memory        text diff=cpp
include/__stream_types  text diff=cpp
include/cassert         text diff=cpp
include/cerrno          text diff=cpp
include/clocale         text diff=cpp
include/cstddef         text diff=cpp
include/cstdint         text diff=cpp
include/cstdlib         text diff=cpp
include/cstring         text diff=cpp
include/cwchar          text diff=cpp
include/exception       text diff=cpp
include/fstream         text diff=cpp
include/ios             text diff=cpp
include/iosfwd          text diff=cpp
include/iostream        text diff=cpp
include/istream         text diff=cpp
include/locale          text diff=cpp
include/memory          text diff=cpp
include/new             text diff=cpp
include/ostream         text diff=cpp
include/source_location text diff=cpp
include/stdexcept       text diff=cpp
include/streambuf       text diff=cpp
include/string          text diff=cpp
include/system_error    text diff=cpp
include/type_traits     text diff=cpp
include/typeinfo        text diff=cpp
include/utility         text diff=cpp

